<%= render 'users/backnavbar' %>
<section class="steps-section1">
  <div class="first-section">
    <h1 class="section1-h1 text-center">Sell Your Car With 3 Easy & Simple Steps! </h1>
    <p class="text-center "> it's free and takes less than a minute</p>
    <div class="section1-images">
      <img src="/assets/car2.png" alt="Description of the image" class="ad1-image">
        Enter Your Car Information
      <img src="/assets/gallery.png" alt="Description of the image" class="ad1-image">
        Upload Photos
      <img src="/assets/selling -price.png" alt="Description of the image" class="ad1-image">
        Enter Your Selling Price
    </div>
  </div>
</section>

<section class="info-section2">
  <div class="container">
    <% if @user_add.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user_add.errors.count, "error") %> prohibited this model from being saved:</h2>
        <ul>
          <% @user_add.errors.each do |attribute, message| %>
            <% if @user_add.errors[attribute].any? && @user_add[attribute].blank? %>
              <li><%= "#{attribute.to_s.humanize} #{message}" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_with(model:@user_add, url: used_cars_sell_path, method: :post, multipart: true) do |form|%>
      <% if current_user %>
        <%= form.hidden_field :user_id, value: current_user.id %>
      <% end %>
      <div class="main-sell-form">
        <div>
          <h3>Car Information</h3>
          <p>(All fields marked with <label>*</label> are mandatory )</p>
        </div>

        <div class="form-group row">
          <%= form.label :city, "City", class: "col-md-3 text-md-end", for: "city-select" %>
          <div class="col-md-5 ad-input">
            <%= form.select :city, options_for_select([["Popular Cities"] + @popular_cities + ["Other Cities"]] + @other_cities, @user_add.city), { include_blank: "" }, class: "form-select form-control select2 city-select2", id: "city-select", aria: { label: "Default select example" }, "data-placeholder" => "Select" %>
          </div>
          <div class="col-md-4">
            <div class="image1-bulb1">
              <img src="/assets/bulb.png" alt="Description of the image" class="section2bulb-image">
              We don't allow duplicates of the same ad.
            </div>
          </div>
        </div>


        <div class="form-group row">
          <%= form.label :registered_in, "Registered In", class:"col-md-3 text-md-end" %>
          <div class="col-md-5 ad-input">
            <%= form.select :registered_in, options_for_select( ["Registered In"]  + ["Un-Rigistered"] + @rigisteration + ["Province"] + @provinces + ["Popular Cities"] + @popular_cities + [ "Other Cities" ] + @other_cities, @user_add.registered_in), { include_blank: "" }, class: "form-select form-control select2",  id: "cityDropdown", aria: { label: "Default select example" }, "data-placeholder" => "Select" %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :exterior_color, "Exterior Color <span class='star-color'>*</span>".html_safe, class: "col-md-3 text-md-end" %>
          <div class="col-md-5 ad-input">
            <div class="custom-dropdown">
              <%= form.select :exterior_color,
              options_for_select([
                ["Exterior Color", nil],
                ["Red", "#FF0000", { 'data-color' => '#FF0000' }],
                ["Black", "#000000", { 'data-color' => '#000000' }],
                ["Green", "#008000", { 'data-color' => '#008000' }],
                ["Light Green", "#90EE90", { 'data-color' => '#90EE90' }],
                ["Grey", "#808080", { 'data-color' => '#808080' }],
                ["Blue", "#0000FF", { 'data-color' => '#0000FF' }],
                ["Gold", "#FFD700", { 'data-color' => '#FFD700' }],
                ["Marron", "#800000", { 'data-color' => '#800000' }],
                ["Pink", "#FFC0CB", { 'data-color' => '#FFC0CB' }],
                ["Brown", "#A52A2A", { 'data-color' => '#A52A2A' }],
                ["Burgundy", "#800020", { 'data-color' => '#800020' }],
                ["Yellow", "#FFFF00", { 'data-color' => '#FFFF00' }],
                ["Purple", "#800080", { 'data-color' => '#800080' }],
                ["Orange", "#FFA500", { 'data-color' => '#FFA500' }],
                ["Unlisted", "#16", { 'data-color' => '#16' }]
              ], @user_add.exterior_color),
              {},
              class: "form-select form-control exterior-select2",
              id: "car_color",
              "aria-label": "Default select example", "data-placeholder" => "Exterior Color" %>
              <div class="color-preview" id="color-preview"></div>
            </div>
          </div>
        </div>
      
        <div class="form-group row">
          <%= form.label :mileage, "Mileage <span class='star-color'>*</span>".html_safe, class:"col-md-3 text-md-end" %>
          <div class="col-md-5 ad-input2">
            <span class="km-span">KM</span><%= form.text_field :mileage, class: "form-control k-m", placeholder: "Mileage", id: "mileage-input" %>
            <div class="mileage-error-message" style="color: red;"></div>
          </div>
          <div class="col-md-4">
            <div class="image1-bulb1">
              <img src="/assets/bulb.png" alt="Description of the image" class="section2bulb-image">
              We don't allow promotional messages that are not relevant to ad
            </div>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :price, ("Price <span class='star-color'>*</span>".html_safe + "Rs."), class: "col-md-3 text-md-end" %>
          <div class="col-md-5 ad-input2">
            <span class="km-span">PKR</span><%= form.text_field :price, class: "form-control k-m validate-on-click", placeholder: "Price", id: "input-price" %>
            <div class="error-message" style="color: red;"></div>
            <p class="para5-text display-none">should be greater than '0'<p>
          </div>
          <div class="col-md-4">
            <div class="image1-bulb1">
              <img src="/assets/bulb.png" alt="Description of the image" class="section2bulb-image">
              Please enter a realistic price to get more genuine responses.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 text-md-end">
            Ad Description
            <span class='star-color'>*</span>
            <img src="/assets/sell-car.png" alt="Description of the image">
          </label>
          <div class="col-md-8">
            <div class="text-end" style="text-align: end;font-size: 12px;">
            Remaining Words: <span id="remaining-words">1000</span><span id="resetbutton"><strong>Reset<strong></span>
            </div>
              <%= form.text_area :add_description, class: "form-control", rows: 6, id: "ad-description", placeholder: "Describe Your car:\nExample:Alloy rim, first owner, genuine parts, maintained by authorized workshop, excellent mileage, original paint etc." %>
            <div class="section2-para1">
              <p>You can also use this suggestions</p>
              <div id="suggestion">
                <span class="design-span">Bumper-to-Bumper Original</span>
                <span class="design-span">Like New</span>
                <span class="design-span">Authorized Workshop Maintained</span>
                <span class="design-span">Fresh Import</span>
                <span class="design-span">Complete Service History</span>
                <span class="design-span">Price Negotiable</span>
                <span class="design-span">Alloy Rims</span>
                <span class="design-span">Original Book</span>
                <span class="design-span">New Tires</span>
                <span class="design-span">Duplicate Book</span>
                <span class="design-span">Complete Original File</span>
                <span class="design-span">Duplicate File</span>
                <span class="design-span">Duplicate Number Plate</span>
                <span class="design-span">Token or Tax Up to Date</span>
                <span class="design-span">Urgent Sale</span>
                <span class="design-span">Driven on Petrol</span>
                <span class="design-span">Engine Repaired</span>
                <span class="design-span">Sealed Engine</span>
                <span class="design-span">Contact During Office Hours</span>
                <span class="design-span">Exchange Possible</span>
              </div>
              <div id="toggleButton">Show More Suggestions <i class="fas fa-chevron-circle-down"></i></div>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>

      <section class="photo-section3">
        <div class="container">
          <div class="main-div-section3">
            <div class="upload-photo-h2">
              <h2 class="section3-header" style="margin-bottom: 2rem;">Upload Photo</h2>
            </div>
            <div class="upload-image-hint">
              <div class="section3-image1-button1 ">
                <img src="/assets/gallery.png" alt="Description of the image" class="section3-image">
                <div class="section3-image-button">
                  <%= form.label :images, "+ Add Photos", class: "btn btn-success section3-btn1", for: "photoUpload" %>
                  <div class="section3-para1">(Max Limit 5 MB per image)</div>  
                  <%= form.file_field :images, id: "photoUpload", accept: "image/*", multiple: true,style: "display: none;" %>
                </div>
              </div>
              <div class="row photo-info">
                <div class="col-md-4 col-md-offset-1">
                  <i class="fa-regular fa-circle-check" style="color: #3eb549;"></i>
                  <strong>Adding at least 8 pictures</strong> improves the chances for a quick sale.
                </div>
                <div class="col-md-5 col-md-offset-1">
                  <i class="fa-regular fa-circle-check" style="color: #3eb549;"></i>
                  <strong>Adding clear Front, Back and Interior pictures</strong> of your car increases the quality of your Ad and gets you notice more.
                </div>
                <div class="col-md-5 col-md-offset-4  mt-4" style="margin-left: 33.333%;">
                  <i class="fa-regular fa-circle-check" style="color: #3eb549;"></i>
                  <strong>Photos should be</strong> in 'jpeg, jpg, png, gif' format only
                </div>
              </div>
            </div>
          </div>  
        </div>
      </section>

      <section class="car-info-section4">
        <div class="container">
          <fieldset>
            <div class="section4-div1">
              <h2>Contact Information<h2>
              <div class="form-group row">
                <%= label :mobile_number, "Mobile Number", class:"col-md-3 text-md-end contact-info" %>
                <div class="col-md-5">
                  <span class="icon-section4"><i class="fa fa-th"></i></span>
                  <%= form.text_field :mobile_number, class: "field-section4", placeholder: "Mobile number", id: "mobile_num_field" %>
                  <div class="number-error-message" style="color: red;"></div>
                </div>
                <div class="col-md-4 section4-mob-parent">
                  <div class="mobile-para" style="font-size: 1rem;">
                    <i class="fa fa-mobile  hint-icon"></i>
                    <span class="section4-mob-para">Enter a genuine 11 digit mobile no. with format 03XXXXXXXXX. All inquires will come on this number.<span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <%= label :secondary_number, "Secondary Number(Optional)", class:"col-md-3 text-md-end contact-info" %>
                <div class="col-md-9 contact4-input">
                  <%= form.text_field :secondary_number, class: "field2-section4", placeholder: "Secondary number" %>
                </div>
              </div>
              <div class="form-group row">
                <%= label :Whatapp_image, " ", class:"col-md-3" %>
                <div class="col-md-9 contact4-input">
                  <img src="/assets/whatapp.jpeg" alt="Description of the image" class="section4-whatsappimage">
                  <span class="whatsapp4-icon">Allow WhatsApp Contact</span>
                  <span class="slider_whatsapp round"></span>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </section>
      <section class="section5">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-end button-last">
              <%= form.submit "SUBMIT & CONTINUE", class: "btn btn-success btn-lg section5-last-button" %>
            </div>
          </div>
        </div>
      </section>

    <%end%>