<%= render 'users/backnavbar' %>
<div class="main-container">
  <section>
    <div class="container">
      <h1 class="h1-class">Get your car registered in PakWheels Sell It For Me</h1>

      <div>
        <%= form_with(model:@current_user, url: products_pakwheels_sell_it_for_me_new_path, method: :post) do |form|%>
          <div class="form-container">
            <div class="row">
              <div class="col-md-8 eight-columns">
                <p class="adjust-text-first-section">
                  Let PakWheels experts take the difficulty out of selling your car! 
                  We will manage your ad and find the best possible deal for you. Chose what's 
                  best for you today.
                </p>

                <div class="form-group row">
                  <%= form.label :model_year, "Model Year <span class='star-color'>*</span>".html_safe, class:"col-md-4 text-end" %>
                  <div class="col-md-8 ad-input" >
                    <%= form.select :model_year,
                      options_for_select(
                        ['Year',2024,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,
                        2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000]), {},
                      class: "form-control form-select"
                    %>          
                  </div>
                </div>

                <div class="form-group row">
                  <%= form.label :car_info, "Car Info <span class='star-color'>*</span>".html_safe, class:"col-md-4 text-end" %>
                  <div class="col-md-8 ad-input ">
                    <%= form.text_field :full_name, class: "form-control", placeholder: "Make/Model" %>
                  </div>
                  
                </div>

                <div class="form-group row">
                  <%= form.label :registered_in, "Registered In", class:"col-md-4 text-end" %>
                  <div class="col-md-8 ad-input ">
                    <%= form.select :registered_in,
                      options_for_select(  @registeration + ["Province"] + @provinces + ["Popular Cities"] + @popular_cities + [ "Other Cities" ] + @other_cities), {include_blank: "Un-Registered"},
                      class: "form-control form-select"
                    %>
                  </div>
                </div>

                <div class="form-group row">
                  <%= form.label :assembly, "Assembly <span class='star-color'>*</span>".html_safe, class:"col-md-4 text-end" %>
                  <div class="col-md-8 ad-input ">
                    <%= form.select :assembly,
                      options_for_select(['Local','Imported']), {},
                      class: "form-control form-select" 
                    %>
                  </div>
                </div>

                <div class="form-group row">
                  <%= form.label :location, "Location <span class='star-color'>*</span>".html_safe, class:"col-md-4 text-end" %>
                  <div class="col-md-8 ad-input ">
                    <%= form.text_field :full_name, class: "form-control", placeholder: "Location" %>
                  </div>
                </div>

                <div class="form-group row">
                  <%= form.label :address, "Address <span class='star-color'>*</span>".html_safe, class:"col-md-4 text-end" %>
                  <div class="col-md-8 ad-input ">
                    <%= form.text_field :full_name, class: "form-control", placeholder: "Address" %>
                  </div>
                </div>

                <div class="form-group row">
                  <%= form.label :inspection_slot, "Inspection Slot <span class='star-color'>*</span>".html_safe, class:"col-md-4 text-end" %>
                  <div class="col-md-8 ad-input ">
                    <%= form.text_field :full_name, class: "form-control", placeholder: "Inspection Slot" %>
                  </div>
                </div>

                <div class="form-group row">
                  <%= form.label :name, "Name <span class='star-color'>*</span>".html_safe, class:"col-md-4 text-end" %>
                  <div class="col-md-8 ad-input ">
                    <%= form.text_field :full_name, class: "form-control", placeholder: "Full Name" %>
                  </div>
                </div>

                <div class="form-group row">
                  <%= form.label :phone, "Phone <span class='star-color'>*</span>".html_safe, class:"col-md-4 text-end" %>
                  <div class="col-md-8 ad-input ">
                    <%= form.text_field :full_name, class: "form-control", placeholder: "Mobile Number" %>
                  </div>
                </div>

                <p class="adjust-text-first-section">
                  Initial payment starting from Rs. 2000 will be charged for inspection 
                  depending upon your car make and model at the time of on-boarding. 
                  1% of the car's selling price will be charged as commission once the car 
                  is sold. 
                  <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                  By registering on the service you are agreeing to the Eligibility criteria, Required Documents, Pricing/Comission, and Terms of Service
                </p>
              </div>

              <div class="col-md-4">
                <div class="vertical-line">
                  <div class="container-2">
                    <div class="div-for-image">
                      <img src="/assets/sell-it-for-me-page.png" alt="Description of the image" class="car-sold-image">
                    </div>
                    <p class="adjust-text-second-section">Let PakWheels Help You To Sell Your Car!</p>
                    <ul class="unorder-list">
                      <li class="list-item">
                        <i class="fa fa-check"></i>
                        Dedicated Sales Expert to Sell your Car
                      </li>

                      <li class="list-item">
                        <i class="fa fa-check"></i>
                        We Bargain for you and share the Best Offer
                      </li>

                      <li class="list-item">
                        <i class="fa fa-check"></i>
                        We ensure Safe & Secure Transaction
                      </li>
                    </ul>
                    <div class="adjust-text-second-section">
                      <p class="star-color">
                        * Service available only in Karachi, Lahore, Islamabad, Rawalpindi, Peshawar, Faisalabad and Gujranwala
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <hr class="horizontal-line">
            <div class="content-after-sections">
              <button type="button" class="btn btn-success btn-lg">Continue</button>
              <span>&nbsp &nbsp Not intersted?&nbsp <a href="/post-ad">Post a normal Ad</a></span>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </section>
</div>